.headercontant{
    justify-content: space-between;
    width: 385px;
}
header{
    width: 100vw;
}
.left-nav-tools .developer{
    display: none;
}
.start-content h1{
    width: 95%;
    text-align: center;
}
.search-middel{
display: none;
}
.quizbox span{
    font-size: .6rem;
}
.answertext{
    font-size: .6rem;

}
.answer{
    height: 80px;
}

.quizbox svg {
    display: none; 
   }
.quizcontinue h1{
    font-size: .8rem;
}
.quizcontinue button a{
    font-size: .7rem;
}
.quizcontinue button{
    padding: 2px 6px;
}